@using PagedList
@using PagedList.Mvc
@model IEnumerable<Academy.Models.Banner>

@{
    Layout = "~/Areas/Sysmgr/Views/Shared/_Layout.cshtml";
    var menu = Request["menu"]; // 获取菜单参数
}

@section Scripts {
    <script>
        $(function () {
            // ... 原有脚本保持不变 ...
        });
    </script>
}

<article id="content" class="contentArea">
    <section class="btnArea">
        <a href="/Sysmgr/Banner/Add?menu=@menu" class="add"><span class="icon-plus"></span>新增輪播圖</a>
    </section>
    <h1>首頁管理 <span>/ 輪播圖列表</span>...</h1>

    <section class="selectArea">
        <div class="selectMenu">
            <p>顯示狀態 :</p>
            <select name="selectItem" id="selectItem">
                <option value="">請選擇</option>
                @if (Request["status"] == "1")
                {
                    <option value="1" selected>上線中</option>
                }
                else
                {
                    <option value="1">上線中</option>
                }
                @if (Request["status"] == "0")
                {
                    <option value="0" selected>下線中</option>
                }
                else
                {
                    <option value="0">下線中</option>
                }
            </select>
        </div>
        <!-- 修改：筛选按钮跳转时带上 menu 参数 -->
        <input type="button" value="送出" onclick="location.href = '/Sysmgr/Banner/Index?status=' + $('#selectItem').val() + '&menu=@menu'">
    </section>

    <section class="tableArea">
        <table border="0" class="responsive" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="titlebar">
                    <td class="no">
                        @if (Request["ordery"] == "sortasc")
                        {
                            <a href='/Sysmgr/Banner/Index?status=@Request["status"]&ordery=sortdesc&menu=@menu'>排序</a>
                        }
                        else
                        {
                            <a href='/Sysmgr/Banner/Index?status=@Request["status"]&ordery=sortasc&menu=@menu'>排序</a>
                        }
                    </td>
                    <td class="checkbox"><input type="checkbox" name="checkboxAll" id="checkboxAll"></td>
                    <td class="alignLeft">輪播圖</td>
                    <td class="alignLeft">主題</td>
                    <td class="minWidth">點閱數</td>
                    <td class="minWidth">上線狀態</td>
                    <td class="time minWidth">
                        @if (Request["ordery"] == "timeasc")
                        {
                            <a href='/Sysmgr/Banner/Index?status=@Request["status"]&ordery=timedesc&menu=@menu' class="sortUp">建立時間</a>
                        }
                        else
                        {
                            <a href='/Sysmgr/Banner/Index?status=@Request["status"]&ordery=timeasc&menu=@menu' class="sortDown">建立時間</a>
                        }
                    </td>
                    <td class="btn minWidth">功能</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr><td colspan="8" align="center">暫無資料！</td></tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="text" class="sort" value="@item.Sort" data-id="@item.ID"></td>
                        <td><input type="checkbox" name="checkbox" data-id="@item.ID" id="checkbox"></td>
                        <td class="alignLeft"><img src="@item.Photo"></td>
                        <td class="alignLeft"><strong>@item.Title</strong><br>@item.SubTitle</td>
                        <td>@(item.ReadCount == null ? 0 : item.ReadCount)</td>
                        <td>@if (item.Status == 1)
                        {<span class="icon-on" title="上線中"></span>}
                        else
                        {<span class="icon-off" title="下線中"></span>}</td>
                        <td class="num">@item.CDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <p class="function">
                                <a href="/Sysmgr/Banner/Edit?menu=@menu&id=@item.ID&ret=@HttpUtility.UrlEncode(Request.Url.ToString())" class="icon-edit" title="編輯"></a>
                                <a href="javascript:;" data-id="@item.ID" data-title="@item.Title" class="icon-trash-bin" title="刪除"></a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    @{
        var data = Model as IPagedList<Academy.Models.Banner>;
    }
    <section class="numberArea">
        <p>共 : @data.PageCount 頁  /  總共 : @data.TotalItemCount 筆記錄</p>
        <ul>
            @Html.PagedListPager(data, page => Url.Action("Index", new { page = page, status = Request["status"], ordery = Request["ordery"], menu = menu }), new PagedListRenderOptions() { LinkToFirstPageFormat = "首頁", LinkToNextPageFormat = "下一頁", LinkToPreviousPageFormat = "上一頁", LinkToLastPageFormat = "末頁", DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "共有 {2} 筆", MaximumPageNumbersToDisplay = 5 })
        </ul>
    </section>

    <!-- 功能操作区不变 -->
    <section class="openArea"><span title="開啟執行列" class="open">開啟執行列</span></section>
    <section class="functionArea">
        <span title="關閉執行列" class="close">關閉執行列</span><span id="closeShort" title="關閉執行列" class="close">關閉執行列</span>
        <div><p>回上一頁</p><input name="" type="button" value="x" class="btnBackto"></div>
        <div><p>更新排序</p><input name="" type="button" value="k" class="btnSort"></div>
        <div><p>刪除勾選</p><input name="" type="button" value="K" class="btnDelete"></div>
    </section>
</article>